<!DOCTYPE html>
<html>
<head>

    <title></title>

    <style>

        .row {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        

    
    </style>

</head>
<body>
    <div id="root">

        <div class="row">

        <div class="column">

        <h2>Tasks</h2>

            <ul>
                <div v-for="task in tasks">
                    <li v-text="task.description"> </li> 
                    <button>Work on task</button>
                </div>
            </ul>

        </div>

        <div class="column">

        <h2>Tasks in progress</h2>

            <ul>
               <div v-for="task in incompleteTasks">
                <li  v-text="task.description"></li>
                <button>Task completed</button> 
            </div>
            </ul>

        </div>

        <div class="column">

        <h2>Completed tasks</h2>

            <ul>
                <div v-for="task in incompleteTasks">
                    <li  v-text="task.description"></li>
                </div>
             </ul>

         </div>

         </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>

    var app = new Vue({

        el: '#root',

        data:    {

            tasks: [

                { description: 'Go to the store', completed: true },

                { description: 'Go to the cinema', completed: true },

                { description: 'Go to the bike shop', completed: false },

                { description: 'Wash up', completed: true }


            ]

        },

        computed: {

            incompleteTasks() {

                return this.tasks.filter(task => ! task.completed);
            }

        },

        });
    
    </script>

    
</body>
</html>